:host {
    display: block;
    height: 200px;
    margin: 10px 10px;
    overflow: hidden;
    position: relative;
}

.card-bg,
.card-bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card-bg {
    border-radius: 15px;
    background-position: center;
    background-size: cover;
}

.card-bg-overlay {
    background: #000;
    -webkit-transition: opacity .1s;
    transition: opacity .1s;
    opacity: 0;
    border-radius: inherit;
    cursor: pointer;
}

:host:hover .card-bg-overlay {
    opacity: 1;
}