.header-wrapp {
    display: grid;


    grid-template-columns: 1fr 30px;
    padding: 15px 10px;
}

.search-wrapp {
    display: inline-flex;
    align-items: center;
}

.header-link {
    font-size: 1rem;
}

.search-input {
    margin-left: 2em;
    padding: .375rem .75rem;
    font-size: 1rem;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.heart-wrapp {
    position: relative;
}

.header-heart {
    fill: #fff;
    width: 30px;
    height: 30px;
}

.liked-number-wrapp {
    min-width: 14px;
    min-height: 14px;
    text-align: center;
    padding: 3px;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(0, -30%);
    background-color: rgba(255, 99, 71, 0.897);
    font-weight: 600;
    font-size: 14px;
}

.header-link:hover {
    color: rgb(255, 168, 153);
}

.header-link:active {
    color: #ccc;
}